argcomplete==3.1.1
certifi==2023.5.7
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==3.1.0
cryptography==41.0.1
distlib==0.3.7
filelock==3.12.2
identify==2.5.26
idna==3.4
jq==1.4.1
msal==1.22.0
nodeenv==1.8.0
Office365-REST-Python-Client==2.4.3
platformdirs==3.9.1
pre-commit==3.3.3
pycparser==2.21
PyJWT==2.7.0
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
tomlkit==0.11.8
urllib3==2.0.3
virtualenv==20.24.2
xmltodict==0.13.0
yq==3.2.2
